.article {
	text-align:center;
}

.article:hover {
	color:var(--secondary);
	color:white;
}

.article-content {
	margin:40px;
}

.article .title {
	margin-top:15px;
}

.article > a{
	color:var(--dark);
	text-decoration: none;
}