.eventsContainer {
	margin-top:15px;
}

.eventsContainer .event{
	background:white;
	margin-bottom:15px;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
	transition: box-shadow .3s ease-in-out;
	border-radius:2px;
}

.eventsContainer .event .eventContent {
	margin:5px;
}