.event {
	background:white;
	margin-bottom:15px;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
	transition: box-shadow .3s ease-in-out;
	border-radius:2px;
}

.event .eventContent {
	margin: 5px;
}
.event .longHeading .infoRow {
	margin-left:10px;
	padding-bottom:10px;
	padding-top:10px;
}

.event .description {
	white-space:pre;
}

.event .longHeading {
	margin:0 -20px 5px -20px;
}
.event .longHeading h3 {
	margin-left:15px;
}

.event .arrow {
	margin-right:10px;
}

.event:hover {
	color:var(--primary);
}

.event .eventDetails {
	color:white;
}